.header{
	background-color:black;   
	position:relative;
    min-height: auto;

}

nav{
    display:flex;
	padding:5px 20px;
	justify-content: space-between;
	align-items:center;
}

nav img {
    height: 80px;
    width: 80px;
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style:none;	
	display:inline-block;
	padding: 6px 6px;
	position:relative;
}
.nav-links ul li a {
	color:white;
	text-decoration:none;
	font-size:15px;
}
/*Adding a hovering effect to the navigation links*/
.nav-links ul li:hover::after{
    content:'';
	width:100%;
	transition:0.2s;
	height:4px;
	background:rgb(174, 172, 172);
	display:block;
	margin:auto;
	
}
.firstvideo{
   position: relative;
   right: 0;
   bottom: 0;
   z-index: -2; 
}
/*@media(min-aspect-ratio:16/9){
    .firstvideo{
        height:auto;
        width:100%;
    }
}
@media(max-aspect-ratio:16/9){
    .firstvideo{
        width:auto;
        height:100%;
    }
}*/

.content{
	color:black;
	position:relative;
	text-align:center;
    font-weight: 400px;
}